<table class="table table-dark table-bordered table-striped">
    <thead>
        <tr class="table-head">
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">CORREO</th>
            <th scope="col">CELULAR</th>
            <th scope="col">TIPO DOCUMENTO</th>
            <th scope="col">DOCUMENTO</th>
            <th scope="col">ROL</th>
            <th scope="col">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Krlos</td>
            <td>centille095@gmail.com</td>
            <td>3023149922</td>
            <td>CC</td>
            <td>1034916559</td>
            <td>Desarrollador</td>
            <td class="acciones">
                <button class="btn btn-primary">Editar</button>
                <button class="btn btn-danger">Borrar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Krlos</td>
            <td>centille095@gmail.com</td>
            <td>3023149922</td>
            <td>CC</td>
            <td>1034916559</td>
            <td>Desarrollador</td>
            <td class="acciones">
                <button class="btn btn-primary">Editar</button>
                <button class="btn btn-danger">Borrar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Krlos</td>
            <td>centille095@gmail.com</td>
            <td>3023149922</td>
            <td>CC</td>
            <td>1034916559</td>
            <td>Desarrollador</td>
            <td class="acciones">
                <button class="btn btn-primary">Editar</button>
                <button class="btn btn-danger">Borrar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Krlos</td>
            <td>centille095@gmail.com</td>
            <td>3023149922</td>
            <td>CC</td>
            <td>1034916559</td>
            <td>Desarrollador</td>
            <td class="acciones">
                <button class="btn btn-primary">Editar</button>
                <button class="btn btn-danger">Borrar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Krlos</td>
            <td>centille095@gmail.com</td>
            <td>3023149922</td>
            <td>CC</td>
            <td>1034916559</td>
            <td>Desarrollador</td>
            <td class="acciones">
                <button class="btn btn-primary">Editar</button>
                <button class="btn btn-danger">Borrar</button>
            </td>
        </tr>
    </tbody>
</table>