<router-outlet>
    <nav class="navbar bg-black navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:4200/inicio">
                <img class="logo" src="../assets/Logo FADEMET.png" alt="logo Fademet">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header bg-black">
                    <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Menú</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body bg-black">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://localhost:4200/inicio">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tablas
                            </a>
                            <ul class="dropdown-menu bg-black">
                                <li><a class="dropdown-item text-white hover-success" href="http://localhost:4200/usuarios">Usuarios</a></li>
                                <li><a class="dropdown-item text-white" href="http://localhost:4200/roles">Roles</a></li>
                                <li><a class="dropdown-item text-white" href="http://localhost:4200/servicios">Servicios</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</router-outlet>
