<router-outlet>
    <nav class="navbar navbar-expand-lg bg-black navbar-dark hola d-flex justify-content-around">
        <div class="container-fluid bg-black">
            <a class="navbar-brand" href="http://localhost:4200/inicio"><img class="logo" src="../assets/Logo FADEMET.png" alt="logo Fademet"></a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-black" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://localhost:4200/inicio">Inicio</a>
                    </li>
                    <li class="nav-item dropdown bg-black nav-dark">
                        <a class="nav-link active dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        >
                            Tablas
                        </a>
                        <ul class="dropdown-menu bg-black">
                            <li><a class="dropdown-item text-white hover-success" href="http://localhost:4200/usuarios">Usuarios</a></li>
                            <li><a class="dropdown-item text-white" href="http://localhost:4200/roles">Roles</a></li>
                            <li><a class="dropdown-item text-white" href="http://localhost:4200/servicios">Servicios</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</router-outlet>
