* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin-top: 6.5rem;
  padding: 0 1rem;
  background: url("../src/assets/blob-scene-haikei.svg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
